* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A0A0A0;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

#options button, #options input, #options label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#options button, #grid-size-button{
    padding: 5px;
}

#input-color {
    width: 23px;
    height: 23px;
}

.container {
    width: 100%;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.container-border {
    width: 700px;
    border: 20px inset black;
    margin: auto;
    box-shadow: 10px 10px 5px #745050;
}

.square {
    border: 1px solid red;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.active {
    background-color: red;
}

#draw-button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.draw-button-container {
    display: flex;
    gap: 10px;
} 

#grid-size-button:hover, button:hover {
    transform: scale(1.1);
}

#grid-size-button:active, button:active {
    transform: scale(0.9);
}